@charset "UTF-8";

@font-face {
  font-family: "linea-basic-10";
  src:url("fonts/linea-basic-10.eot");
  src:url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea-basic-10.woff") format("woff"),
    url("fonts/linea-basic-10.ttf") format("truetype"),
    url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-basic"]:before,
[class*=" icon-basic"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-accelerator:before {
  content: "a";
}
.icon-basic-alarm:before {
  content: "b";
}
.icon-basic-anchor:before {
  content: "c";
}
.icon-basic-anticlockwise:before {
  content: "d";
}
.icon-basic-archive:before {
  content: "e";
}
.icon-basic-archive-full:before {
  content: "f";
}
.icon-basic-ban:before {
  content: "g";
}
.icon-basic-battery-charge:before {
  content: "h";
}
.icon-basic-battery-empty:before {
  content: "i";
}
.icon-basic-battery-full:before {
  content: "j";
}
.icon-basic-battery-half:before {
  content: "k";
}
.icon-basic-bolt:before {
  content: "l";
}
.icon-basic-book:before {
  content: "m";
}
.icon-basic-book-pen:before {
  content: "n";
}
.icon-basic-book-pencil:before {
  content: "o";
}
.icon-basic-bookmark:before {
  content: "p";
}
.icon-basic-calculator:before {
  content: "q";
}
.icon-basic-calendar:before {
  content: "r";
}
.icon-basic-cards-diamonds:before {
  content: "s";
}
.icon-basic-cards-hearts:before {
  content: "t";
}
.icon-basic-case:before {
  content: "u";
}
.icon-basic-chronometer:before {
  content: "v";
}
.icon-basic-clessidre:before {
  content: "w";
}
.icon-basic-clock:before {
  content: "x";
}
.icon-basic-clockwise:before {
  content: "y";
}
.icon-basic-cloud:before {
  content: "z";
}
.icon-basic-clubs:before {
  content: "A";
}
.icon-basic-compass:before {
  content: "B";
}
.icon-basic-cup:before {
  content: "C";
}
.icon-basic-diamonds:before {
  content: "D";
}
.icon-basic-display:before {
  content: "E";
}
.icon-basic-download:before {
  content: "F";
}
.icon-basic-exclamation:before {
  content: "G";
}
.icon-basic-eye:before {
  content: "H";
}
.icon-basic-eye-closed:before {
  content: "I";
}
.icon-basic-female:before {
  content: "J";
}
.icon-basic-flag1:before {
  content: "K";
}
.icon-basic-flag2:before {
  content: "L";
}
.icon-basic-floppydisk:before {
  content: "M";
}
.icon-basic-folder:before {
  content: "N";
}
.icon-basic-folder-multiple:before {
  content: "O";
}
.icon-basic-gear:before {
  content: "P";
}
.icon-basic-geolocalize-01:before {
  content: "Q";
}
.icon-basic-geolocalize-05:before {
  content: "R";
}
.icon-basic-globe:before {
  content: "S";
}
.icon-basic-gunsight:before {
  content: "T";
}
.icon-basic-hammer:before {
  content: "U";
}
.icon-basic-headset:before {
  content: "V";
}
.icon-basic-heart:before {
  content: "W";
}
.icon-basic-heart-broken:before {
  content: "X";
}
.icon-basic-helm:before {
  content: "Y";
}
.icon-basic-home:before {
  content: "Z";
}
.icon-basic-info:before {
  content: "0";
}
.icon-basic-ipod:before {
  content: "1";
}
.icon-basic-joypad:before {
  content: "2";
}
.icon-basic-key:before {
  content: "3";
}
.icon-basic-keyboard:before {
  content: "4";
}
.icon-basic-laptop:before {
  content: "5";
}
.icon-basic-life-buoy:before {
  content: "6";
}
.icon-basic-lightbulb:before {
  content: "7";
}
.icon-basic-link:before {
  content: "8";
}
.icon-basic-lock:before {
  content: "9";
}
.icon-basic-lock-open:before {
  content: "!";
}
.icon-basic-magic-mouse:before {
  content: "\"";
}
.icon-basic-magnifier:before {
  content: "#";
}
.icon-basic-magnifier-minus:before {
  content: "$";
}
.icon-basic-magnifier-plus:before {
  content: "%";
}
.icon-basic-mail:before {
  content: "&";
}
.icon-basic-mail-multiple:before {
  content: "'";
}
.icon-basic-mail-open:before {
  content: "(";
}
.icon-basic-mail-open-text:before {
  content: ")";
}
.icon-basic-male:before {
  content: "*";
}
.icon-basic-map:before {
  content: "+";
}
.icon-basic-message:before {
  content: ",";
}
.icon-basic-message-multiple:before {
  content: "-";
}
.icon-basic-message-txt:before {
  content: ".";
}
.icon-basic-mixer2:before {
  content: "/";
}
.icon-basic-mouse:before {
  content: ":";
}
.icon-basic-notebook:before {
  content: ";";
}
.icon-basic-notebook-pen:before {
  content: "<";
}
.icon-basic-notebook-pencil:before {
  content: "=";
}
.icon-basic-paperplane:before {
  content: ">";
}
.icon-basic-pencil-ruler:before {
  content: "?";
}
.icon-basic-pencil-ruler-pen:before {
  content: "@";
}
.icon-basic-photo:before {
  content: "[";
}
.icon-basic-picture:before {
  content: "]";
}
.icon-basic-picture-multiple:before {
  content: "^";
}
.icon-basic-pin1:before {
  content: "_";
}
.icon-basic-pin2:before {
  content: "`";
}
.icon-basic-postcard:before {
  content: "{";
}
.icon-basic-postcard-multiple:before {
  content: "|";
}
.icon-basic-printer:before {
  content: "}";
}
.icon-basic-question:before {
  content: "~";
}
.icon-basic-rss:before {
  content: "\\";
}
.icon-basic-server:before {
  content: "\e000";
}
.icon-basic-server2:before {
  content: "\e001";
}
.icon-basic-server-cloud:before {
  content: "\e002";
}
.icon-basic-server-download:before {
  content: "\e003";
}
.icon-basic-server-upload:before {
  content: "\e004";
}
.icon-basic-settings:before {
  content: "\e005";
}
.icon-basic-share:before {
  content: "\e006";
}
.icon-basic-sheet:before {
  content: "\e007";
}
.icon-basic-sheet-multiple:before {
  content: "\e008";
}
.icon-basic-sheet-pen:before {
  content: "\e009";
}
.icon-basic-sheet-pencil:before {
  content: "\e00a";
}
.icon-basic-sheet-txt:before {
  content: "\e00b";
}
.icon-basic-signs:before {
  content: "\e00c";
}
.icon-basic-smartphone:before {
  content: "\e00d";
}
.icon-basic-spades:before {
  content: "\e00e";
}
.icon-basic-spread:before {
  content: "\e00f";
}
.icon-basic-spread-bookmark:before {
  content: "\e010";
}
.icon-basic-spread-text:before {
  content: "\e011";
}
.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}
.icon-basic-star:before {
  content: "\e013";
}
.icon-basic-tablet:before {
  content: "\e014";
}
.icon-basic-target:before {
  content: "\e015";
}
.icon-basic-todo:before {
  content: "\e016";
}
.icon-basic-todo-pen:before {
  content: "\e017";
}
.icon-basic-todo-pencil:before {
  content: "\e018";
}
.icon-basic-todo-txt:before {
  content: "\e019";
}
.icon-basic-todolist-pen:before {
  content: "\e01a";
}
.icon-basic-todolist-pencil:before {
  content: "\e01b";
}
.icon-basic-trashcan:before {
  content: "\e01c";
}
.icon-basic-trashcan-full:before {
  content: "\e01d";
}
.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}
.icon-basic-trashcan-remove:before {
  content: "\e01f";
}
.icon-basic-upload:before {
  content: "\e020";
}
.icon-basic-usb:before {
  content: "\e021";
}
.icon-basic-video:before {
  content: "\e022";
}
.icon-basic-watch:before {
  content: "\e023";
}
.icon-basic-webpage:before {
  content: "\e024";
}
.icon-basic-webpage-img-txt:before {
  content: "\e025";
}
.icon-basic-webpage-multiple:before {
  content: "\e026";
}
.icon-basic-webpage-txt:before {
  content: "\e027";
}
.icon-basic-world:before {
  content: "\e028";
}

{"version":3,"sourceRoot":"","sources":["../sass/abstracts/_mixins.scss","../sass/base/_animation.scss","../sass/base/_base.scss","../sass/base/_typography.scss","../sass/abstracts/_variables.scss","../sass/base/_utilities.scss","../sass/components/_bg-video.scss","../sass/components/_btn.scss","../sass/components/_card.scss","../sass/components/_composition.scss","../sass/components/_feature-box.scss","../sass/components/_story.scss","../sass/components/_form.scss","../sass/components/_popup.scss","../sass/layout/_grid.scss","../sass/layout/_header.scss","../sass/layout/_footer.scss","../sass/layout/_navigation.scss","../sass/pages/_home.scss"],"names":[],"mappings":";AAgBA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAAA;AAeA;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AC/BA;EACE;IACE;IACA;;EAGF;IACE;;EAGF;IACE;IACA;;;AAIJ;EACE;IACE;IACA;;EAGF;IACE;;EAGF;IACE;IACA;;;AAIJ;EACE;IACE;IACA;;EAGF;IACE;IACA;;;ACxCJ;AAAA;AAAA;EAGE;EACA;EACA;;;AAGF;EACE;;AF6CE;EE9CJ;IAOI;;;AFiCA;EExCJ;IAWI;;;AFyCA;EEpDJ;IAkBI;;;;AAIJ;EACE;EACA;;AFgBE;EElBJ;IAKI;;;;ACnCJ;EACE;EACA;AACA;EACA;EACA,OCQgB;ADPhB;;;AAGF;EACE,OCOY;EDNZ;AACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EAEA;EACA;EACA;AACA;AACA;;AHgBA;EG1BF;IAaI;IACA;;;AAIJ;EACE;EACA;EACA;EACA;EACA;;AHGA;EGRF;IAQI;;;;AAKN;EACE;EACA;EACA;EACA;EACA;EAKA;EACA;EACA;EACA;;AHZE;EGDJ;IAgBI;;;AHrBA;EGKJ;IAoBI;;;AAGF;EACE;EACA;;;AAIJ;EACE,WCpDkB;EDqDlB;EACA;;;AAGF;EACE,WC1DkB;;AD2DlB;EACE;;;AErFJ;EACE;;;AAGF;EACE;;;AAEF;EACE;;ALwCE;EKzCJ;IAII;;;;AAIJ;EACE;;ALgCE;EKjCJ;IAGI;;;;AAGJ;EACE;;;AAEF;EACE;;;ACzBF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGA;EACE;EACA;EACA;;;ACdJ;AAAA;AAAA;EAGE;EACA;EACA;EACA;EACA;EACA;EACA;EACA,WHekB;EGblB;EACA;;;AAEF;EACE;AACA;EACA;;;AAGF;AAAA;EAEE;EACA;AACA;EACA;;;AAEF;EACE,kBHZY;EGaZ,OHjBgB;;AGkBhB;EACE,kBHfU;;;AGkBd;EACE,kBHpCc;EGqCd,OHpBY;;AGsBZ;EACE,kBHxCY;;;AG2ChB;EACE,kBHrCqB;EGsCrB,OHhCgB;;AGkChB;EACE,kBHxCkB;;;AG4CtB;AACA;AACA;AACA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;AACA;EACE;EACA;;;AAGF;AACA;EACE;AACA;AACA;EACA;;;AAIA;EAEE,WH5DgB;EG6DhB,OHtFY;EGuFZ;EACA;EACA;EACA;EACA;;AAGF;EACE,kBH/FY;EGgGZ,OH/EU;EGgFV;EACA;;AAGF;EACE;EACA;;;ACvGJ;EACE;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;;AAEA;EACE,kBJJQ;;AIOV;EACE;;AAEA;EACE;;AAMF;EACE;;AAMF;EACE;;AAUN;EACE;;AAGF;EACE;;AAIF;EACE;EAEA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;;AAOF;EACE;;AAOF;EACE;;AASJ;EACE;EACA;EACA;EACA;EACA,OJrFU;EIsFV;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;;AACA;EACE;;AAMF;EACE;;AAMF;EACE;;AAQJ;EACE;;AACA;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA;;AAEA;EACE;;AAMR;EACE;EACA;EACA;EACA;EAEA;EACA;;AAGF;EACE;EACA,OJtJU;EIuJV;;AAGF;EACE;EACA;;AAGF;EACE;EACA;;ARlIA;EQhDJ;IAsLI;IACA;IACA,kBJvKU;IIwKV;;EAEA;IACE;IACA;IACA;;EAEA;IACE;IACA;;EAIJ;IACE;;EAIF;IACE;;EAIF;IACE;IACA;IACA;IACA;IAEA;IACA;;EAGF;IACE;;EAGF;IACE;;;;AC/NN;EACE;;AACA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;ATuCA;ES9CF;IAUI;IACA;IACA;IACA;;;AAGF;EACE;EACA;;AT4BF;ES9BA;IAKI;IACA;;;AAIJ;EACE;EACA;;ATkBF;ESpBA;IAKI;IACA;IACA;;;AAIJ;EACE;EACA;;ATOF;ESTA;IAKI;IACA;IACA;;;AAIJ;EACE;EACA;EACA;EACA;;AAIJ;EACE;;;AC3DJ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AVyCE;EUhDJ;IAUI;;;AAGF;EACE;EACA;EACA;EACA;EAKA;EACA;;AVyBA;EUnCF;IAaI;;;AAIJ;EACE;;AC/BJ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA,WPiBkB;EOhBlB;;AXuCE;EWhDJ;IAYI;IACA;IACA;;;AX4BA;EW1CJ;IAkBI;;;AAGF;EACE;;AAGF;EACE;EACA;EACA;EAEA;EACA;EACA;EACA;;AAEA;EAVF;IAYI;IACA;IACA;IACA;;;AXEF;EWjBF;IAmBI;;;AAIJ;EAEE;EACA;EACA;EACA;;AAGF;EACE;;AXfA;EWcF;IAII;;;AAIJ;EACE;EACA;EACA;EACA;EACA,OPpDU;EOqDV;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;;AAGF;EACE;EACA;;;ACpFF;EACE;;AAGF;EACE;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AZiCA;EY3CF;IAaI;;;AAGF;EACE;EACA;EACA;;AAGF;EACE,ORdc;;AQiBhB;EACE;;AAIJ;EACE;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;;AAGF;EAEE;EACA;;AZNA;EYGF;IAMI;IACA;;;AAIJ;EACE;;AAGF;EACE,WR1CgB;EQ2ChB;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA,kBR7FU;EQ8FV;EACA;;AAKJ;EACE;;;ACrGJ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EAZF;IAcI;IACA;IACA;;;AAGF;EbVA;EACA;EACA;EACA;EaSE;EACA,kBTLU;ESMV;EACA;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;;AAGF;EACE;EACA;EACA;EACA;;AAGF;EACE;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;EAEA;EACA;EACA;EACA;;AAIF;EACE;EACA;;AAGF;EACE;EACA;;AAIA;EAEE,OTnEY;ESoEZ;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE,OT5FU;;;AUAhB;EACE,WVmBW;EUlBX;;AAEA;EACE,eVgBc;;AJ2Bd;Ec5CF;IAII,eVckB;;;AJ0BpB;EchDJ;IAaI;IACA;;;AdbF;EACE;EACA;EACA;;AceF;EACE;;AAEA;EACE;;AdyBF;Ec1BA;IAII;IACA,eVLgB;;;AJ0BpB;Ec7BF;IAaI;;;AAIJ;EACE;;AAGF;EACE;;AAGF;EACE;;AAKF;EACE;;AAGF;EACE;;AAKF;EACE;;;AC7DJ;EACE;EAEA;AACA;EACA;AAMA;EACA;AACA;EACA;AA2BA;EACA;;AA1BA;EAhBF;AAiBI;IACA;IACA;IACA;;;AAIF;EAxBF;IA2BI;IACA;;;AfcA;Ee1CJ;IAqCI;IACA;;;;AAOJ;EACE;EACA;EACA;;;AAGF;EACE;;;AAEF;AAAA;AAAA;AAIA;EACE;EACA;EACA;EACA;EACA;;;AC/DF;EACE,kBZckB;EYblB;EACA;EACA,OZMmB;;AJsCjB;EgBhDJ;IAOI;;;AAGF;EACE;EACA;;AhBoCA;EgBtCF;IAKI;;;AAIJ;EACE;EACA;;AAGF;EACE;EACA;EACA;;AhBqBA;EgBxBF;IAMI;IACA;;;AAIJ;EACE;;AAGF;EACE;;AAEA;EACE;;AAKF;EAEE,OZxCe;EYyCf,kBZpCc;EYqCd;EACA;EACA;EACA;;AAGF;EAEE,OZ5DU;EY6DV;EACA;;AAIJ;EACE;EACA;EACA;EACA;;AhBtBA;EgBkBF;IAOI;IACA;;;;ACzEJ;EACE;;AAGF;EACE,kBbWU;EaVV;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AjBgCA;EiB3CF;IAcI;IACA;;;AjBsBF;EiBrCF;IAmBI;IACA;;;AAIJ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EAIA;EACA;;AjBOA;EiBnBF;IAgBI;IACA;;;AjBJF;EiBbF;IAqBI;IACA;;;AAIJ;EACE;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;;AAKA;EAEE;EACA;EACA;EACA;EACA,ObxEQ;EayER;EACA;EACA;EAMA;EACA;;AAEA;EACE;EACA;;AAIJ;EAEE;EACA,Ob9GU;Ea+GV;;AAIJ;EACE;;AAGF;EACE;EACA;;AAGF;EACE;EACA;;AAEA;EAGE;EACA;EACA,kBbtHc;EauHd;;AAGF;EAEE;EACA;EACA;EACA;;AAGF;EACE;;AAKF;EACE;;AAIJ;EACE;;AAEF;EACE;;AAIF;EACE;;AAGF;EACE;EACA;;AAGF;EACE;EACA;;;AC/KJ;EACE,kBdSmB;EcRnB;EACA;;AlB6CE;EkBhDJ;IAMI;;;;AAIJ;EACE;EACA;EAMA;EACA;EACA;;AAEA;EACE;;AlByBA;EkBtCJ;IAiBI;;;;AAIJ;EACE,kBdtBmB;EcuBnB;EACA;;AlBcE;EkBjBJ;IAMI;;;;AAIJ;EACE;EACA;;;AAQF;EACE;EACA;;AlBLE;EkBGJ;IASI;;;;AAIJ;EAEE;EAOA;EACA;EACA;;AlBrBE;EkBUJ;IAcI;IAOA;;;AlBrCA;EkBgBJ;IAyBI;;;AAQF;EACE;EACA;;AlB7CA;EkB2CF;IAKI;;;AlBtDF;EkBiDF;IASI","file":"style.css;"}