<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app"></div>
    <template id="woodbell">
      <h2>{{message}}</h2>
      <component-a></component-a>
    </template>
    <template id="component-a">
      <h2>this is component-a</h2>
      <p>hhhhhh</p>
    </template>
    <script src="../vueLib/vue.js"></script>
    <script>
      const ComponentA = {
        template: "#component-a",
      };
      const App = {
        template: "#woodbell",
        data() {
          return {
            message: "hello world",
          };
        },
        component: {
          ComponentA,
        },
      };
      const app = Vue.createApp(App);
      // app.component("component-a", ComponentA);
      app.mount("#app");
    </script>
  </body>
</html>
