.header {
  height: 85vh;
  // 这个下margin基本是临时的
  margin-bottom: 4rem;
  /* 可以接受多张图层叠 */
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero-small.jpg);
  /* cover会试图贴合整个block的宽高 */
  background-size: cover;
  /* 缩放时背景的是什么位置保持不变，top就是下面下面先拉伸，上面最后才变这个需要隔三差五搞个图试试唤醒一下回忆 */
  background-position: top;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    /* 选点切图 polygon按图片的四个点选中图片，xy轴和css一样,分别是左上 右上 右下 左下 */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
  }

  // 按逗号分隔不同的条件组合
  @media (min-resolution: 192dpi) and (min-width: 37.5em),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    (min-width: 125em) {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../img/hero.jpg);
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  /* 作为logo-box的容器 */
  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}
/* .logo:hover {
  animation: moveInRight 1s ease-out; 
}*/

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
